<!-- BOOTSTRAP NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ART HOUSE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Challenge Statement <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="survey.html">Survey the Field</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="researcha.html">Research Site A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="researchb.html">Research Site B</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="researchc.html">Research Site C</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="goals.html">Goals and Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="citation.html">Works Cited</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
    <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </div>
</nav>
<!-- BOOTSTRAP NAVBAR END -->
